.links-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 100rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5rem;
  flex-wrap: wrap;
}
